<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<h1> StreamFluence Dashboard </h1>
		</div>
			<div class="row">
			  {{#each burger_data}}
				<div class="col-xs-12 text-center">
					<p>{{this._id}}.  Name: {{this.display_name}} <br> Followers: {{this.followers}}
					</p>
				  		<!-- {{this.Date}} -->
				</div>
			  {{/each}}
			</div>
	</div>
</div>

